<h1>Logging Sample</h1>

<p>This sample has added the log4net logging extension to the ASP.NET Core logging factory. Use the following links to trigger different types of logging actions.</p>
<ul>
    <li><a href="/Home/UnhandledException">Log an unhandled exception</a></li>
    <li><a href="/Home/HandledException">Log a handled exception</a></li>
    <li><a href="/Home/LogMessage">Log a debug message</a></li>
</ul>